#speech-bubble {
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
    background: #00aabb;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    width: 160px;
    height: 80px
}
#speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}