/* General setup */
/* Remember to always comment*/

* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: bubblegum;
  src url(/bubblegum .tff)
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
  font-size: 20px;
  letter-spacing: 3px;
}
h2 {
  font-size: 20px;
  letter-spacing: 3px;
}
div.b {
  line-height: 1.6;
  text-align: center;
}
body {
  letter-spacing: 1.5px;
}
section {
  text-indentation: 20px
}